
complete/target/surefire-reports/hello.storage.FileSystemStorageServiceTests.txt
complete/target/surefire-reports/hello.storage.FileSystemStorageServiceTests.txt
complete/upload-dir/2ca8fa08-3a4d-4d4e-b15b-047f92b85f41.jpg
